<QuickMenu>
	<MenuItem name="Character Shortcuts">
		<MenuItem name="Bell" value="\a"/>
		<MenuItem name="Backslash" value="\\"/>
		<MenuItem name="Tab" value="\t"/>
		<MenuItem name="Carriage Return" value="\r"/>
		<MenuItem name="Vertical Tab" value="\v"/>
		<MenuItem name="Form Feed" value="\f"/>
		<MenuItem name="Newline" value="\n"/>
		<MenuItem name="Escape" value="\e"/>
		<MenuItem name="ASCII value" value="\x&lt;NN&gt;"/>
		<MenuItem name="CTRL char" value="\Cx&lt;letter&gt;"/>
		<MenuItem name="UNICODE char" value="\U&lt;XXXX&gt;"/>
	</MenuItem>
	<MenuItem name="Character Classes">
		<MenuItem name="Group" value="[&lt;chars&gt;]"/>
		<MenuItem name="Negated Group" value="[^&lt;chars&gt;]"/>
		<MenuItem name="-" value=""/>
		<MenuItem name="Any" value="."/>
		<MenuItem name="Word [a-zA-Z_0-9]" value="\w"/>
		<MenuItem name="Non Word" value="\W"/>
		<MenuItem name="Whitespace [\f, ,\n,\r,\t,\v]" value="\s"/>
		<MenuItem name="Non whitespace" value="\S"/>
		<MenuItem name="Decimal Digit" value="\d"/>
		<MenuItem name="Non Decimal Digit" value="\D"/>
	</MenuItem>
	<MenuItem name="Quantifiers">
		<MenuItem name="Zero or more" value="*"/>
		<MenuItem name="One or more" value="+"/>
		<MenuItem name="Zero or one" value="?"/>
		<MenuItem name="From N to M" value="{&lt;N&gt;,&lt;M&gt;}"/>
		<MenuItem name="At least N" value="{&lt;n&gt;,}"/>
		<MenuItem name="Exactly N" value="{&lt;n&gt;}"/>
		<MenuItem name="-" value=""/>
		<MenuItem name="Zero or more (non greedy)" value="*?"/>
		<MenuItem name="One or more (non greedy)" value="+?"/>
		<MenuItem name="Zero or one(non greedy)" value="??"/>
		<MenuItem name="From N to M (non greedy)" value="{&lt;N&gt;,&lt;M&gt;}?"/>
		<MenuItem name="At least N (non greedy)" value="{&lt;n&gt;,}?"/>
		<MenuItem name="Exactly N (non greedy)" value="{&lt;n&gt;}?"/>
	</MenuItem>
	<MenuItem name="Anchors">
		<MenuItem name="Beginning of string" value="^"/>
		<MenuItem name="Beginning, multiline" value="\A"/>
		<MenuItem name="End of string" value="$"/>
		<MenuItem name="End, multiline" value="\Z"/>
		<MenuItem name="End, multiline" value="\z"/>
		<MenuItem name="Word boundary" value="\b"/>
		<MenuItem name="Non Word boundary" value="\B"/>
	</MenuItem>
	<MenuItem name="Grouping">
		<MenuItem name="Named Capture" value="(?&lt;&lt;name&gt;&gt;x)"/>
		<MenuItem name="Capture" value="(&lt;expression&gt;)"/>
		<MenuItem name="Non Capture" value="(?:&lt;exp&gt;)"/>
		<MenuItem name="Alternation" value="(&lt;x&gt;|&lt;y&gt;)"/>
	</MenuItem>
	<MenuItem name="Zero-Width">
		<MenuItem name="Positive Lookahead" value="(?=&lt;x&gt;)"/>
		<MenuItem name="Negative Lookahead" value="(?!&lt;x&gt;)"/>
		<MenuItem name="Positive Lookbehind" value="(?&lt;=&lt;x&gt;)"/>
		<MenuItem name="Negative Lookbehind" value="(?&lt;!&lt;x&gt;)"/>
	</MenuItem>
	<MenuItem name="Conditionals">
		<MenuItem name="Expression" value="(?(&lt;exp&gt;)yes|no)"/>
		<MenuItem name="Named" value="(?(&lt;name&gt;)yes|no)"/>
	</MenuItem>
	<MenuItem name="Options">
		<MenuItem name="Ignore Case" value="(?i:)"/>
		<MenuItem name="Ignore Case Off" value="(?-i:)"/>
		<MenuItem name="Multiline" value="(?m:)"/>
		<MenuItem name="Multiline Off" value="(?-m:)"/>
		<MenuItem name="Explicit Capture" value="(?n:)"/>
		<MenuItem name="Explicit Capture Off" value="(?-n:)"/>
		<MenuItem name="Single Line" value="(?s:)"/>
		<MenuItem name="Single Line Off" value="(?-s:)"/>
		<MenuItem name="Ignore Whitespace" value="(?x:)"/>
		<MenuItem name="Ignore Whitespace Off" value="(?-x:)"/>
		
	</MenuItem>
</QuickMenu>
